@import 'styles/framework.scss';

.Block {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.Block__title {
  font-size: 18px;
  font-weight: bold;
}

.Block__header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  margin-bottom: 20px;
}

.Block__left {
  margin-left: 13px;
}

.Block__right {
  margin-left: auto;
}

@include phone {
  .Block__header_hidden {
    display: none;
  }

  .Block__right {
    display: none;
  }

  .Block__left {
    margin-left: auto;
  }
}
