@import 'styles/framework.scss';

.BlockMain {
  border-radius: 20px;
  height: 331px;
  max-width: 630px;
  overflow: hidden;
  position: relative;
}

.BlockMain__bg {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.BlockMain__content {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
}

.BlockMain__info {
  padding: 25px;
}

.BlockMain__title {
  color: #333;
  font-size: 27px;
  font-weight: bold;
}

.BlockMain__legent {
  color: #333;
  font-size: 14px;
  margin-top: 6px;
}

.BlockMain__weather {
  margin-top: 25px;
}

@include phone {
  .BlockMain {
    height: auto;
  }

  .BlockMain__title {
    font-size: 20px;
  }

  .BlockMain__legent {
    font-size: 12px;
  }

  .BlockMain__info {
    padding: 20px 20px 0;
  }

  .BlockMain__content {
    flex-direction: column;
  }

  .BlockMain__weather {
    margin-top: 15px;
  }
}
