$size_s: 24px;
$size_m: 36px;
$size_l: 40px;

.Icon {
  align-items: stretch;
  display: inline-block;
  display: flex;
  justify-content: stretch;

  svg {
    height: 100%;
    width: 100%;
  }
}

.Icon_size_s {
  height: $size_s;
  width: $size_s;
}

.Icon_size_m {
  height: $size_m;
  width: $size_m;
}

.Icon_size_l {
  height: $size_l;
  width: $size_l;
}
