.IconArrow_direction_left {
  transform: rotateZ(0deg);
}

.IconArrow_direction_right {
  transform: rotateZ(180deg);
}

.IconArrow_direction_top {
  transform: rotateZ(90deg);
}

.IconArrow_direction_bottom {
  transform: rotateZ(-90deg);
}
