.BlockDevices {
  display: flex;
  flex-flow: row nowrap;
}

.BlockDevices_size_small {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
}

.BlockDevices__device {
  flex-shrink: 0;

  & + & {
    margin-left: 15px;
  }
}

.BlockDevices_size_small .BlockDevices__device {
  margin-left: 0;
}
