@import 'styles/framework.scss';

.Header {
  border-bottom: 1px solid #f0f0f0;
  height: 90px;
}

.Header__container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.Header__logo {
  width: 108px;
}

.Header__menu {
  margin-left: 50px;
}

@include phone {
  .Header {
    background: white;
    border-bottom: 0;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .Header__menu {
    margin-left: auto;
  }
}
