.Footer {
  align-items: center;
  color: #858585;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  height: 60px;
}

.Footer__right {
  margin-left: auto;
}

.Footer__link {
  & + & {
    margin-left: 15px;
  }
}
