.Control {
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;

  &:focus {
    outline: none;
  }

  &::after {
    border: 2px solid rgb(199, 199, 199);
    bottom: 0;
    content: ' ';
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

html.utilityfocus .Control {
  &:focus {
    &::after {
      display: initial;
    }
  }
}

.Control_type_default {
  border-radius: 20px;
  user-select: none;

  &::after {
    border-radius: 20px;
  }
}

$margin: -5px;

.Control_type_link {
  &::after {
    bottom: $margin;
    left: $margin;
    right: $margin;
    top: $margin;
  }
}
