* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

html,
body,
#container {
  min-height: 100vh;
  width: 100vw;
}

html.scroll_off {
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

html.touchable {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
